<center>
  <h1><font size="10">About</font></h1>
  <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p>様々なバリエーションをご用意しております。</p>
  <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p>ぜひご注文ください。</p> 
</center>

<div style="text-align:center">
  <%= image_tag "/assets/top_phot.jpg", size:'600x350' %> 
</div>