<style>
  .box{
    margin-top: 180px;
    text-align: start;
    padding: 20px;
    width: 40%;
    background: rgba(255,255,255,0.8);
  }
</style>


<div class="card　border-top-0">

    <div style="text-align:center; position:relative; top:30px">
  <%= image_tag "/assets/top_phot.jpg", size:'600x350' %> 
    </div>
  <center>
  <div class="card-img-overlay">
    <div class = "box">
    <p class="card-text">ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
</div>
</div>
</center>
  </div>


